<div>
    <h2>Forget your password</h2>
    <br>
    <p>Enter your email</p>
    <form id="mailForm">
        <input type="email" placeholder="Enter here your email" name="email"/>
        <br><br>
        <input type="submit">
    </form>
    <hr>
    {{!-- <a href="/reset-password">
        <button>Reset password</button>
    </a> --}}
</div>
<script src="/js/forgot-password.js"></script>