<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Password</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p><a href="/api/sessions/github">Login with GitHub</a></p>
    <p>You don't have an account? <a href="/register">Sign up here!</a></p>
    <p>Forgot your password?</p> 
    <a href="/forgot-password">
        <button>Reset password</button>
    </a>   
</div>
<script src="/js/login.js"></script>