<div>
        <h1>Sign Up</h1>
        <form id="registerForm">
            <label>First Name</label>
            <input name="first_name">
            <label>Last Name</label>
            <input name="last_name">
            <br><br>
            <label>Email</label>
            <input name="email">
            <label>Age</label>
            <input name="age">
            <br><br>
            <label>Password</label>
            <input type="password" name="password">
            <br><br>
            {{!-- <label>Rol</label>
            <input name="role"> --}}
            <br><br>
            <input type="submit">

        </form>
        <p>Already have an account? <a href="/login">Login here!</a></p>
</div>
<script src="/js/register.js"></script>