<h2>Reset password</h2>
<p>Enter your new password</p>
<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="email" placeholder="email" name="email"/>
    <br/><br/>
    <input type="password" placeholder="new password" name="newPassword"/>
    <br/><br/>
    <button type="submit">Reset password</button>
</form>
<hr>